<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.melitopolcherry.hackathon">

    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <uses-feature android:name="android.hardware.screen.portrait" />
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name="com.melitopolcherry.hackathon.App"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup"
        tools:targetApi="q">
        <activity
            android:name="com.melitopolcherry.hackathon.features.trackingenteties.TrackingEntetiesActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".screens.select_university.SelectUniversityActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".screens.select_faculty.HumanitarianHelpActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.melitopolcherry.hackathon.features.orderdetails.DetailsOrderActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.melitopolcherry.hackathon.features.onboarding.OnBoardingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.melitopolcherry.hackathon.features.eventdetails.activity.DetailsEventActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.melitopolcherry.hackathon.features.performer.LandingPagePerformerActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.melitopolcherry.hackathon.features.venue.LandingPageVenueActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.melitopolcherry.hackathon.features.seatingchart.SeatingChartActivity"
            android:launchMode="singleTask"
            android:parentActivityName="com.melitopolcherry.hackathon.features.eventdetails.activity.DetailsEventActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.melitopolcherry.hackathon.features.main.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.melitopolcherry.hackathon.features.splash.SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.melitopolcherry.hackathon.features.login.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/googleApiKey" />
        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <service
            android:name="com.melitopolcherry.hackathon.features.services.FCMListenerService"
            android:exported="false"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
    </application>
</manifest>